:root {
    --header-footer-color: #99C6E1;

}

html,
body {
    height: 100%;
    max-width: 100%;
    margin: 0;
    color: #0070B4;
    font-family: 'Inter', sans-serif;
}

div {
    text-align: center;
}


/* Fonts */

h1 {
    font-size: 5.8em;
    text-align: center;
    font-family: 'Prata', serif;
    margin-bottom: 35px;
    margin-top: 35px;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    font-family: 'Prata', serif;
}

p {
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 15px;
    margin-bottom: 70px;
    text-align: justify;
}
a {
    text-decoration: none;
}

/* Images */

header {
    height: 90px;
    margin-bottom: 50px;
    display: flex;
}


.titre img {
    width: 1139px;
    height: 847px;
}

.swot img {
    width: 1268px;
    height: 487px;
    margin-top: 40px;
    margin-bottom: 70px;
}

.pestel img {
    width: 1256px;
    height: 953px;
    margin-top: 40px;
    margin-bottom: 70px;
}

.chiffres img {
    width: 728px;
    height: 379px;
    margin-top: 40px;
    margin-bottom: 70px;
}

.details img {
    width: 701px;
    height: 300px;
    margin-top: 40px;
    margin-bottom: 70px;
}

/* Colors */

span {
    color: #EF8834;
}

header {
    height: 90px;
    background: var(--header-footer-color);
    color: white;
}
header ul {
    list-style: none;
}

header li {
    background: #0070B4;
    display: inline-block;
    border-radius: 5px;
}
header a {
    color: white;
}

.img-header img {
    height: 70px;
    width: 136px;
}

footer {
    height: 144px;
    width: 100%;
    background: var(--header-footer-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100px;
}


.footer_reseaux img {
    max-height: 55px;
}

.footer_logo img {
    height: 70px;
    width: 136px;
    position: absolute;
    bottom: 20%;
    right: 1%;
}