html,
body {
    height: 100%;
    color: #0070B4;
    font-family: 'Inter', sans-serif;
}

div {
    text-align: center;
}

/* Fonts */

h1 {
    font-size: 5.8em;
    text-align: center;
    font-family: 'Prata', serif;
}

p {
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

/* Colors */

span {
    color: #EF8834;
}

/* Images */

.imagegauche img {
    width: 449px;
    height: 636px;
    margin: 50px;
}

.imagedroite img {
    width: 449px;
    height: 636px;
    margin: 50px;
}

.paragraphe2 img {
    width: 1259px;
    height: 632px;
    margin: 50px;
}

.paragraphe2 p {
    margin: 15px;
}

.paragraphe3 {
    display: flex;
    flex-direction: row;
}

.imagedroite2 img{
    width: 526px;
    height: 445px;
    margin: 50px;
    padding-top: 125px;
}

.bloc3{
    display: flex;
    flex-direction: row;
}

.imageblocgauche {
    display: flex;
    flex-direction: column;
    width: 548px;
    height: 372px;
    margin-left: 100px;
    margin-right: 10px;
}

.imageblocgauche img {
    margin: 15px 0px;
}
